<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace=연결되는 인터페이스 -->    
<mapper namespace="com.kh.cat.member.dao.MemberInter">

	<!-- 로그인 -->
	<select id="login" resultType="String" parameterType="String">
		SELECT id FROM member WHERE id=#{param1} AND pw=#{param2}
	</select>
	
	<!-- DB 비밀번호 가져오기 -->
	<select id="getPw" resultType="String" parameterType="String">
		SELECT pw FROM member WHERE id=#{param1}
	</select>
	
	<!-- 프로필사진 가져오기 -->
	<select id="getprofile" resultType="String" parameterType="String">
		SELECT profile FROM member WHERE id=#{param1}
	</select>
	
	<!-- ID 찾기 -->
    <select id="idSearchPage" resultType="String">
      SELECT id FROM member WHERE name=#{param1} AND email=#{param2}
    </select>
			
	<!-- 회원가입 -->	
	<insert id="join" parameterType="member">
		INSERT INTO member(id,pw,name,email,phone,profile,aut,pointCnt,revCnt,followCnt)
			<!-- VALUES(#{id},#{pw},#{name},#{email},#{phone},#{profile},'user',0,0,0) -->
		<!-- <if test="!email.equals('')">
			VALUES(#{id},#{pw},#{name},#{age},#{gender},#{email})
		</if>
		<if test="email.equals('')">
			VALUES(#{id},#{pw},#{name},#{age},#{gender},'없음')
		</if> -->
		<if test="profile == null">
			VALUES(#{id},#{pw},#{name},#{email},#{phone},0,'user',0,0,0)
		</if>
		<if test="profile != null">
			VALUES(#{id},#{pw},#{name},#{email},#{phone},#{profile},'user',0,0,0)
		</if>
	</insert>
	
	<select id="profileimg" resultType="member">
		SELECT profile FROM member WHERE id=#{param1}
	</select>
	
	<select id="profileunder" resultType="member">
		SELECT * FROM member WHERE id=#{param1}
	</select>
   
    <!-- id 중복체크-->
    <select id="overlay" resultType="String">
        SELECT id FROM member WHERE id=#{param1}
    </select>
    
    <!-- email 중복체크-->
    <select id="overlayMail" resultType="String">
        SELECT email FROM member WHERE email=#{param1}
    </select>

	<select id="userdetail" resultType="member">
        SELECT * FROM member WHERE id=#{param1}
    </select>
    
    <!-- 비밀번호 조회 -->
    <select id="pw" resultType="String">
    	SELECT pw FROM member WHERE id = #{param1} AND name = #{param2} AND email = #{param3}
    </select>
    
    <!-- 암호화된 비밀번호로 변경 -->
    <update id="pwChange">
		UPDATE member SET pw = #{param2} WHERE id = #{param1}
	</update>
	
	<!--회원 탈퇴 -->
	<delete id="leave">
		delete from member where id=#{param1}
    </delete>
    
	<update id="userupdate" parameterType="member">
		UPDATE member 
		<if test=""></if>
		SET name=#{name},email=#{email},phone=#{phone},profile=#{profile} WHERE id = #{id}
	</update>
	
	<update id="userpwupdate" parameterType="member">
		UPDATE member SET pw=#{pw},name=#{name},email=#{email},phone=#{phone},profile=#{profile} WHERE id = #{id}
	</update>
	
	<!-- 권한 가져오기 -->
	<select id="getaut" resultType="String" parameterType="String">
		SELECT aut FROM member WHERE id=#{param1}
	</select>
	
	<!-- 이메일 가져오기 -->
	<select id="getemail" resultType="String" parameterType="String">
		SELECT id FROM member WHERE email=#{param1}
	</select>

</mapper>











